<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <title>Libri</title>
</head>
<body>
    <div class="libri">
        <p>Qui verranno mostrati i libri con i rispettivi autori</p>
        <% rows.forEach(row => { %>
             <ul>
                <li>Titolo: <%= row.titolo %> </li>
                <li>Autore: <%= row.nome %> </li>
            </ul>
        <% }) %>
    </div>
    </div>
</body>
</html>